{% load static %}

<head>

  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href={% static "/css/footer.css" %}>
<link rel="stylesheet" href={% static "/css/styles.css" %}>
</head>


<body>
<div style="background-color: yellow; text-align: right;">
    <a href="#">Tenders</a>
</div>
<div>
  <div>
  <img src={% static "images/logo.png" %} style="height: 120px; width: 140px; padding-left: 40px; text-align: right; padding-top: 10px; padding-bottom: 10px;">
  <b>Indian Institute of Information Technology, Nagpur</b>
  </div>


</div>


<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
  <a class="navbar-brand" href="{% url 'home' %}">IIITN</a>
</div>
<ul class="nav navbar-nav">
  <!-- <li class="active"><a href="#">Home</a></li> -->
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Home
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'mission' %}">Mission</a></li>
      <li><a href={% static "assets/act.pdf" %} target="_blank">Act</a></li>
      <li><a href="#">Upcoming Campus</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">People
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'facult' %}">Faculty</a></li>
      <li><a href="{% url 'adjunctfac' %}">Adjunct Faculty</a></li>
      <li><a href="{% url 'staf' %}">Staff</a></li>
      <li><a href="{% url 'stud' %}">Student</a></li>
      <li><a href="{% url 'alumn' %}">Alumni</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Academics
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href={% static "assets/rulebook.pdf" %} target="_blank">Rulebook</a></li>
      <li><a href="{% url 'departments' %}">Departments</a></li>
      <li><a href="{% url 'program' %}">Programmes</a></li>
      <li><a href="{% url 'convocation' %}">Convocation</a></li>
      <li><a href="{% url 'resources' %}">Resources</a></li>
      <li><a href="{% url 'verification' %}">Student Verification</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admission
    <span class="caret"></span></a>
    <ul class="dropdown-menu">

      <li><a href="{% url 'undergraduate' %}">Undergraduate</a></li>
      <li><a href="{% url 'postgraduate' %}">Postgraduate</a></li>
      <li><a href="{% url 'phd' %}">PhD</a></li>
      <li><a href="{% url 'fees' %}">Fees</a></li>
      <li><a href="{% url 'financialassist' %}">Financial Assistance</a></li>
      <li><a href="{% url 'question' %}">FAQ</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Research
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'publications' %}">Publications</a></li>
      <li><a href="{% url 'researchareas' %}">Research Areas</a></li>
      <li><a href="{% url 'events' %}">Events</a></li>
      <li><a href="{% url 'awards' %}">Fellowship Awards</a></li>
    </ul>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Placement and outreach
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'message' %}">Messages</a></li>
      <li><a href="{% url 'whyrecruit' %}">Why recruit @ IIITN?</a></li>
      <li><a href="{% url 'procedure' %}">Placement Procedure</a></li>
      <li><a href="{% url 'statistics' %}">Statistics</a></li>
      <li><a href="{% url 'internships' %}">Internships</a></li>
      <li><a href="{% url 'recruiters' %}">Our Recruiters</a></li>
      <li><a href="{% url 'startups' %}">Our Startups</a></li>
      <li><a href="{% url 'contactTnp' %}">Contact TNP</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Careers
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'facrecruit' %}">Faculty Recruitment</a></li>
      <li><a href="{% url 'staffrecruit' %}">Staff Recruitment</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Contact
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">Page 1-1</a></li>
      <li><a href="#">Page 1-2</a></li>
      <li><a href="#">Page 1-3</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Student affairs
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'eventnews' %}">Events and News</a></li>
      <li><a href="{% url 'facilities' %}">Facilities</a></li>
      <li><a href="{% url 'hostels' %}">Hostels</a></li>
      <li><a href="{% url 'studentclubs' %}">Student Clubs</a></li>
      <li><a href="{% url 'grievance' %}">Discipline Grievance</a></li>
    </ul>
  </li>
</ul>
</div>
</nav>

{% block content %}

{% endblock %}

{% block footer %}

{% endblock %}
