{% load static %}

<head>

  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href={% static "/css/footer.css" %}>
<link rel="stylesheet" href={% static "/css/styles.css" %}>
</head>


<body>
<div style="background-color: yellow; text-align: right;">
    <a href="#">Tenders</a>
</div>
<div>
  <div>
  <img src={% static "logo.png" %} style="height: 120px; width: 140px; padding-left: 40px; text-align: right; padding-top: 10px; padding-bottom: 10px;">Indian Institute of Information Technology, Nagpur
  </div>


</div>


<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
  <a class="navbar-brand" href="#">IIITN</a>
</div>
<ul class="nav navbar-nav">
  <!-- <li class="active"><a href="#">Home</a></li> -->
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Home
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="#">Mission</a></li>
      <li><a href="#">Act</a></li>
      <li><a href="#">Upcoming Campus</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">People
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">Faculty</a></li>
      <li><a href="#">Adjunct Faculty</a></li>
      <li><a href="#">Staff</a></li>
      <li><a href="#">B Tech.</a></li>
      <li><a href="#">M Tech.</a></li>
      <li><a href="#">PhD</a></li>
      <li><a href="#">Alumni</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Academics
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">Rulebook</a></li>
      <li><a href="#">Departments</a></li>
      <li><a href="#">Programmes</a></li>
      <li><a href="#">Convocation</a></li>
      <li><a href="#">Resources</a></li>
      <li><a href="#">Student Verification</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administration
    <span class="caret"></span></a>
    <ul class="dropdown-menu">

      <li><a href="#">Page 1-1</a></li>
      <li><a href="#">Page 1-2</a></li>
      <li><a href="#">Page 1-3</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Research
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">Page 1-1</a></li>
      <li><a href="#">Page 1-2</a></li>
      <li><a href="#">Page 1-3</a></li>
    </ul>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Placement and outreach
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">Page 1-1</a></li>
      <li><a href="#">Page 1-2</a></li>
      <li><a href="#">Page 1-3</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Careers
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">Page 1-1</a></li>
      <li><a href="#">Page 1-2</a></li>
      <li><a href="#">Page 1-3</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Contact
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">Page 1-1</a></li>
      <li><a href="#">Page 1-2</a></li>
      <li><a href="#">Page 1-3</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Student affairs
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">Page 1-1</a></li>
      <li><a href="#">Page 1-2</a></li>
      <li><a href="#">Page 1-3</a></li>
    </ul>
  </li>
</ul>
</div>
</nav>

{% block content %}

{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}
