<div class="row">
  <div class="column" style="text-align: center;">
    <h2>Lorem Ipsum</h2>
    <hr style="border-width: 5px; width: 50%;">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
    <br><br>
    <button type="button" class="btn btn-outline-primary">Primary</button>
  </div>
  <div class="column" style="text-align: center;">
    <h2>Lorem Ipsum</h2>
    <hr style="border-width: 5px; width: 50%;">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
    <br><br>
    <button type="button" class="btn btn-outline-primary">Primary</button>
  </div>
  <div class="column" style="text-align: center;">
    <h2>Lorem Ipsum</h2>
    <hr style="border-width: 5px; width: 50%;">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever<br><br>
    <button type="button" class="btn btn-outline-primary">Primary</button>
  </div>
</div>
<br><br><br>
<div class="row">
  <div class="column2" style="text-align: center;">
    <h3>News</h3>
    <hr style="border-width: 3px; width: 65%;">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
    <hr style="border-width: 3px; width: 65%;">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
    <hr style="border-width: 3px; width: 65%;">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
    <hr style="border-width: 3px; width: 65%;">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
  </div>
  <div class="column3" style="text-align: center;">
    <h3>News</h3>
    <hr style="border-width: 3px; width: 65%;">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
    <hr style="border-width: 3px; width: 65%;">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
    <hr style="border-width: 3px; width: 65%;">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
  </div>
</div>
